:root{
    --color-primary:#ff3e30;
    --color-secondary:#d5d5dc;
    --color-dark:#2a3652;
    --text-success:#17C3B2;
}
@font-face {
    font-family: 'ConfigAlt-Bold';
    src: url('/fonts/ConfigAlt-Bold.otf') format('opentype');   
}
body{
    background-color: var(--color-secondary);
    font-family: 'ConfigAlt-Bold', sans-serif;
}
.text-success{
    color: var(--text-success) !important;
}
.bg-dark{
    background-color: var(--color-dark) !important;
}
.btn-danger,
.bg-danger{
    background-color: var(--color-primary) !important;
}
/*------------- header ------------------*/
.img-logo{
    width: 3rem;
}
.navbar{
    transition: all 0.4s ease-in-out;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
/*------------- section hero ------------------*/
.section-hero{
    height: 100vh;
}
.section-hero .player {
    min-width: 100%;
    min-height: 100%;
    filter: brightness(40%)
}
.custom-shape-divider-bottom-1699025158 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1699025158 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
    transform: rotateY(180deg);
}
.custom-shape-divider-bottom-1699025158 .shape-fill {
    fill: var(--color-secondary);
}
/*------------- section about-us ------------------*/
.section-about-us{
    height: 100vh;
    background: linear-gradient(rgba(12, 11, 12, 0.4),
    rgba(0, 0, 0, 0.4)),
    url('src/img-section-about-us.jpg') center 0 / cover no-repeat;
}
.content-about{
    padding-top: 10rem;
}
.list-group .list-item{
    list-style: none;
}
.list-group .bi-check2-circle{
    color: yellow;
}
.section-about .sub_title::before {
    position: absolute;
    content: '';
    width: .5rem;
    height: 100%;
    background-color: var(--color-dark);
}
.our-team .card{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: all .3s ease-in-out;
}
.our-team .card:hover{
    transform: translateY(-1rem);
}
.section-about .sub_title span {
    color: var(--color-primary);
}
.img-person{
    aspect-ratio: 2/2;    
}
/*------------- section services ------------------*/
.section-services .card{
    height: 28rem;
    transition: all .3s ease-in-out;
}
.section-services .card-body{
    margin-top: 12rem;
}
.section-services .card-body .card-title{
    border-bottom: 5px solid var(--color-secondary);
}
.our-services{
    height: 100vh;
    background: linear-gradient(rgba(12, 11, 12, 0.4),
                rgba(0, 0, 0, 0.4)),
            url('/src/services/img-section-services.jpg') center 0 / cover no-repeat;
}
.our-services .bg-dark{
    margin-top: 13rem;
}
/*------------- section services ------------------*/
.img-container .col-6 {
    flex: 0 0 auto;
    width: 16.666%;
}
.img-container {
    width: fit-content;
}
/*------------- section testimonios ------------------*/
.section-testimonials{
    background-image: url('/src/background-section-testimonials.svg');
    background-position: center;
    background-size: auto;
}
.card-slider,
.card-content {
   height: 350px;
}
.cards {
    transition: transform 0.5s ease-in-out;
}
/* ----- ----- ICONO WHATSAPP----- ----- */
.contact-whatsapp {
    right: 1.2rem;
    bottom: 1.2rem;
}
.icon-whatsapp {
    width: 4rem;
    height: 4rem;
    background-color: #1eeb0c;
}
.pulsing {

    box-shadow: 0 0 0 0 #1eeb0c;
    animation: pl1 1s infinite;
}

@keyframes pl1 {
    100% {
        box-shadow: 0 0 0 30px #0000
    }
}
/*----------------- responsive  ----------*/
@media (max-width:376px){
    .custom-shape-divider-bottom-1699025158{
        display: none;
    }
    .section-hero .img-fluid{
        padding-top: 7rem;
    }
    .sub_title .text-s{
        font-size: 1.2rem;
    }
}
@media (max-width:767px){
    .section-about-us,
    .our-services{
        height: 100%;
    }
    .text-contact{
        display: none;
    }
    .footer .text-uppercase{
        text-decoration: underline;
    }
    .btn-c{
        width: 100% !important;
    }
}
@media (min-width:767px) and (max-width:995px){
    .section-about-us,
    .our-services{
        height: 100%;
    }
    .btn-c {
            width: 100% !important;
    }
}