:root{
    --color-primary:#ff3e30;
    --color-secondary:#d5d5dc;
    --color-dark:#2a3652;
}
body{
    background-color: var(--color-secondary);
    font-family: 'Bitter', serif;
}
.text-danger{
    color: var(--color-primary) !important;
}
.bg-dark{
    background-color: var(--color-dark) !important;
}
.btn-danger,
.bg-danger{
    background-color: var(--color-primary) !important;
}
.text-justify{
    text-align: justify;
}
/*------------- header ------------------*/
.img-logo{
    width: 3rem;
}
.navbar{
    transition: all 0.4s ease-in-out;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.dropdown-menu {
    left: -120% !important;
}
.dropdown-item:hover {
    background-color: var(--color-primary);
}
/* .dropdown-center:hover .dropdown-menu {
    display: block;
} */
/*------------- section hero ------------------*/
.section-hero{
    height: 100vh;
}
.section-hero .player {
    min-width: 100%;
    min-height: 100%;
    filter: brightness(40%)
}
.custom-shape-divider-bottom-1699025158 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1699025158 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
    transform: rotateY(180deg);
}
.custom-shape-divider-bottom-1699025158 .shape-fill {
    fill: var(--color-secondary);
}
/*------------- section about-us ------------------*/
.section-about-us{
    height: 100vh;
    background: linear-gradient(rgba(12, 11, 12, 0.4),
    rgba(0, 0, 0, 0.4)),
    url('../images/background-section-about-us.jpg') center 0 / cover no-repeat;
}
.content-about{
    padding-top: 10rem;
}
.list-group .list-item{
    list-style: none;
}
.section-about .sub_title::before {
    position: absolute;
    content: '';
    width: .5rem;
    height: 100%;
    background-color: var(--color-dark);
}
.our-team .card{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: all .3s ease-in-out;
}
.our-team .card:hover{
    transform: translateY(-1rem);
}
.section-about .sub_title span {
    color: var(--color-primary);
}
.img-person{
    aspect-ratio: 2/2;    
}
/*------------- section services ------------------*/
.card-content-service{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.section-services .card,
.list-card-service .card{
    transition: all .3s ease-in-out;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.card-service:hover {
    cursor: pointer;
    transform: scale3d(1.05, 1.05, 0.3);
    -webkit-transform: scale3d(1.05, 1.05, 0.3);
    -moz-transform: scale3d(1.05, 1.05, 0.3);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.our-services{
    height: 100vh;
    background: linear-gradient(rgba(12, 11, 12, 0.4),
                rgba(0, 0, 0, 0.4)),
            url('../images/background-section-services.jpg') center 0 / cover no-repeat;
}
.our-services .bg-dark{
    margin-top: 13rem;
}
/*------------- section services ------------------*/
.img-container .col-6 {
    flex: 0 0 auto;
    width: 16.666%;
}
.img-container {
    width: fit-content;
}
/*------------- section testimonios ------------------*/
.section-testimonials {
    background-image: url('../images/background-section-testimonials.svg');
    background-position: center;
    background-size: auto;
}
.card-slider,
.card-content {
   height: 350px;
}
.cards {
    transition: transform 0.5s ease-in-out;
}
.img-client-first{
    width: 90%;
}
.img-client-penultimate{
    width: 65%;
}
/* ----- ----- ICONO WHATSAPP----- ----- */
.contact-whatsapp {
    right: 1.2rem;
    bottom: 1.2rem;
}
.icon-whatsapp {
    width: 4rem;
    height: 4rem;
    background-color: #1eeb0c;
}
.pulsing {
    box-shadow: 0 0 0 0 #1eeb0c;
    animation: pulsing 1s infinite;
}
@keyframes pulsing {
    100% {box-shadow: 0 0 0 30px #0000}
}
.text-copy-footer{
    font-size: .75rem;
}
/*----------------- responsive  ----------*/
@media (max-width:376px){
    .custom-shape-divider-bottom-1699025158{
        display: none;
    }
    .section-hero .img-fluid{
        padding-top: 7rem;
    }
    .sub_title .text-s{
        font-size: 1.2rem;
    }
}
@media (max-width:768px){
    .section-about-us,
    .our-services{
        height: 100%;
    }
    .text-contact{
        display: none;
    }
    .footer .text-uppercase{
        text-decoration: underline;
    }
    .btn-c{
        width: 100% !important;
    }
}
@media (min-width:767px) and (max-width:995px){
    .section-about-us,
    .our-services{
        height: 100%;
    }
    .btn-c {
        width: 100% !important;
    }
}
